### 24- pandas use in python

---

- install libraries

In [ ]:
#pip install pandas
#pip install numpy

- import libraries

In [2]:
import pandas as pd
import numpy as np

- object creation

In [8]:
#object creation
     # series mean in pandas is row
s=pd.Series([1,3,np.nan ,5,7,9])
s

0    1.0
1    3.0
2    NaN
3    5.0
4    7.0
5    9.0
dtype: float64

- Dates creation

In [9]:
#Dates creation
dates=pd.date_range('20200101',periods=20)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20'],
              dtype='datetime64[ns]', freq='D')

- create data frame

In [71]:

df=pd.DataFrame(np.random.randn(20,4), index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2020-01-01  0.498570 -0.012347  0.813846  3.164468
2020-01-02  1.405895  0.400872  0.264766 -2.338029
2020-01-03  2.115972 -1.845808  0.061098  0.235992
2020-01-04  0.756231 -0.292722 -0.477506  0.011497
2020-01-05 -0.307248 -0.321707  0.535385 -1.279394
2020-01-06  0.613745 -0.833498  0.345138  0.874449
2020-01-07  1.390715 -2.061384 -0.806860  2.094492
2020-01-08 -0.625440  0.022456 -0.406802  0.824301
2020-01-09  1.510208  0.721269 -0.687667 -0.730018
2020-01-10 -0.763387  1.778040  0.279496  1.899148
2020-01-11  0.488178  0.060245 -0.399376  1.121003
2020-01-12 -0.444254 -1.806049 -2.306030  2.636601
2020-01-13 -0.732926  1.164136  0.639554  0.302388
2020-01-14 -0.242342 -2.156345 -0.100734 -0.796778
2020-01-15  1.184595  2.096593 -1.239261 -0.090328
2020-01-16  0.647966  0.127415 -0.027373  1.494101
2020-01-17  0.455565 -0.077543 -0.815529  0.608511
2020-01-18  2.106972  0.450540 -0.982605  0.039127
2020-01-19 -1.092365  0.457134 -1.364004 -0.068212
2020-01-20  1.935658  0.212254 -0.860530  0.542070

- create another dataframe

In [11]:
df2=pd.DataFrame(
{'A':1.0,
'B':pd.Timestamp('20220327'),
'C':pd.Series(1, index=list(range(4)),dtype='float32'),
'D':np.array([3]*4,dtype='int32'),
'E':pd.Categorical(['girls','women','girls','women']),
'F':'females'}   
)
df2

     A          B    C  D      E        F
0  1.0 2022-03-27  1.0  3  girls  females
1  1.0 2022-03-27  1.0  3  women  females
2  1.0 2022-03-27  1.0  3  girls  females
3  1.0 2022-03-27  1.0  3  women  females

- check the type of data frame 'df2'

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

- use head function
  - head function is use to see first five rows

In [16]:
df.head(2)

                   A         B         C         D
2020-01-01  0.581843 -1.066347 -0.051807  0.659075
2020-01-02  0.627997  0.684855  0.843735 -0.465058

- use tail function
  - tail function is use to see 5 columns at the end side

In [15]:
df.tail(2)

                   A         B         C         D
2020-01-19 -0.003148  0.710174  0.135168 -0.189923
2020-01-20  0.590020 -1.115028  1.629992  0.422968

In [17]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

- convert the data into arrays

In [20]:
#convert data into numpy array
df.to_numpy()

array([[ 0.5818427 , -1.06634669, -0.05180706,  0.65907503],
       [ 0.62799671,  0.68485479,  0.84373542, -0.46505823],
       [-0.47104497,  0.24518182,  0.6779736 , -0.53731036],
       [ 0.16094109, -0.87394188,  0.22703532, -0.73005674],
       [-0.01627107,  1.41685085, -1.22521645,  1.23552493],
       [ 1.12972695,  0.13827416,  0.35071907,  0.85447965],
       [-1.39005353,  1.85286703,  2.11586161,  0.49293584],
       [-0.64302548, -1.29972024, -1.07228675, -1.87244359],
       [ 0.08655472,  0.87704414,  0.97971715,  0.34868751],
       [-0.88492433,  1.10196977,  1.59494488, -0.61009348],
       [-1.19525664,  1.32301949, -1.04375755,  0.58289087],
       [ 0.36356353,  2.23623   ,  0.03141281,  0.55787735],
       [-2.20657092, -1.9881315 , -0.84325507, -1.39358374],
       [-0.64926631, -1.58724392, -0.10083674, -0.21101583],
       [ 1.79534765,  0.82353083, -0.84937206, -1.88325912],
       [ 0.01956994,  0.99299863, -0.10113962,  0.37291973],
       [-0.46880609, -0.99843189,  0.68595943, -0.33787502],
       [ 0.0679319 , -0.00478899,  1.79842786, -0.61520413],
       [-0.00314827,  0.71017398,  0.13516817, -0.18992343],
       [ 0.59002023, -1.1150284 ,  1.62999194,  0.42296796]])

- convert another data into arrays

In [21]:
df2.to_numpy()

array([[1.0, Timestamp('2022-03-27 00:00:00'), 1.0, 3, 'girls',
        'females'],
       [1.0, Timestamp('2022-03-27 00:00:00'), 1.0, 3, 'women',
        'females'],
       [1.0, Timestamp('2022-03-27 00:00:00'), 1.0, 3, 'girls',
        'females'],
       [1.0, Timestamp('2022-03-27 00:00:00'), 1.0, 3, 'women',
        'females']], dtype=object)

- use describe function

In [22]:
df.describe()

               A          B          C          D
count  20.000000  20.000000  20.000000  20.000000
mean   -0.125244   0.173468   0.289164  -0.165923
std     0.909811   1.226733   1.006069   0.872147
min    -2.206571  -1.988132  -1.225216  -1.883259
25%    -0.644586  -1.015411  -0.286668  -0.611371
50%     0.008211   0.465018   0.181102  -0.200470
75%     0.418133   1.020241   0.877731   0.509171
max     1.795348   2.236230   2.115862   1.235525

  - Transpose data 'df2'
    - transpose mean change rown into column and column into rows

In [23]:
#Transpose data
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2022-03-27 00:00:00,2022-03-27 00:00:00,2022-03-27 00:00:00,2022-03-27 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,girls,women,girls,women
F,females,females,females,females

In [28]:
df.sort_index(axis=0,ascending=False)
#df.sort_index(axis=0,ascending=True)

                   A         B         C         D
2020-01-20  0.590020 -1.115028  1.629992  0.422968
2020-01-19 -0.003148  0.710174  0.135168 -0.189923
2020-01-18  0.067932 -0.004789  1.798428 -0.615204
2020-01-17 -0.468806 -0.998432  0.685959 -0.337875
2020-01-16  0.019570  0.992999 -0.101140  0.372920
2020-01-15  1.795348  0.823531 -0.849372 -1.883259
2020-01-14 -0.649266 -1.587244 -0.100837 -0.211016
2020-01-13 -2.206571 -1.988132 -0.843255 -1.393584
2020-01-12  0.363564  2.236230  0.031413  0.557877
2020-01-11 -1.195257  1.323019 -1.043758  0.582891
2020-01-10 -0.884924  1.101970  1.594945 -0.610093
2020-01-09  0.086555  0.877044  0.979717  0.348688
2020-01-08 -0.643025 -1.299720 -1.072287 -1.872444
2020-01-07 -1.390054  1.852867  2.115862  0.492936
2020-01-06  1.129727  0.138274  0.350719  0.854480
2020-01-05 -0.016271  1.416851 -1.225216  1.235525
2020-01-04  0.160941 -0.873942  0.227035 -0.730057
2020-01-03 -0.471045  0.245182  0.677974 -0.537310
2020-01-02  0.627997  0.684855  0.843735 -0.465058
2020-01-01  0.581843 -1.066347 -0.051807  0.659075

In [30]:
df.sort_values(by='B',ascending=True)

                   A         B         C         D
2020-01-13 -2.206571 -1.988132 -0.843255 -1.393584
2020-01-14 -0.649266 -1.587244 -0.100837 -0.211016
2020-01-08 -0.643025 -1.299720 -1.072287 -1.872444
2020-01-20  0.590020 -1.115028  1.629992  0.422968
2020-01-01  0.581843 -1.066347 -0.051807  0.659075
2020-01-17 -0.468806 -0.998432  0.685959 -0.337875
2020-01-04  0.160941 -0.873942  0.227035 -0.730057
2020-01-18  0.067932 -0.004789  1.798428 -0.615204
2020-01-06  1.129727  0.138274  0.350719  0.854480
2020-01-03 -0.471045  0.245182  0.677974 -0.537310
2020-01-02  0.627997  0.684855  0.843735 -0.465058
2020-01-19 -0.003148  0.710174  0.135168 -0.189923
2020-01-15  1.795348  0.823531 -0.849372 -1.883259
2020-01-09  0.086555  0.877044  0.979717  0.348688
2020-01-16  0.019570  0.992999 -0.101140  0.372920
2020-01-10 -0.884924  1.101970  1.594945 -0.610093
2020-01-11 -1.195257  1.323019 -1.043758  0.582891
2020-01-05 -0.016271  1.416851 -1.225216  1.235525
2020-01-07 -1.390054  1.852867  2.115862  0.492936
2020-01-12  0.363564  2.236230  0.031413  0.557877

- show the data only 'D' column

In [31]:
df['D']

2020-01-01    0.659075
2020-01-02   -0.465058
2020-01-03   -0.537310
2020-01-04   -0.730057
2020-01-05    1.235525
2020-01-06    0.854480
2020-01-07    0.492936
2020-01-08   -1.872444
2020-01-09    0.348688
2020-01-10   -0.610093
2020-01-11    0.582891
2020-01-12    0.557877
2020-01-13   -1.393584
2020-01-14   -0.211016
2020-01-15   -1.883259
2020-01-16    0.372920
2020-01-17   -0.337875
2020-01-18   -0.615204
2020-01-19   -0.189923
2020-01-20    0.422968
Freq: D, Name: D, dtype: float64

In [73]:
# row wise selection by indexing
df[0:2]

                   A         B         C         D
2020-01-01  0.498570 -0.012347  0.813846  3.164468
2020-01-02  1.405895  0.400872  0.264766 -2.338029

In [34]:
#show the data of only date 1
df.loc[dates[1]]

A    0.627997
B    0.684855
C    0.843735
D   -0.465058
Name: 2020-01-02 00:00:00, dtype: float64

In [35]:
# show the data :, this function is use for rows mean k rows sari show karwa do and column A and B show karwo
df.loc[:,['A','B']]

                   A         B
2020-01-01  0.581843 -1.066347
2020-01-02  0.627997  0.684855
2020-01-03 -0.471045  0.245182
2020-01-04  0.160941 -0.873942
2020-01-05 -0.016271  1.416851
2020-01-06  1.129727  0.138274
2020-01-07 -1.390054  1.852867
2020-01-08 -0.643025 -1.299720
2020-01-09  0.086555  0.877044
2020-01-10 -0.884924  1.101970
2020-01-11 -1.195257  1.323019
2020-01-12  0.363564  2.236230
2020-01-13 -2.206571 -1.988132
2020-01-14 -0.649266 -1.587244
2020-01-15  1.795348  0.823531
2020-01-16  0.019570  0.992999
2020-01-17 -0.468806 -0.998432
2020-01-18  0.067932 -0.004789
2020-01-19 -0.003148  0.710174
2020-01-20  0.590020 -1.115028

In [41]:
#show the data of date 2 into date 4 and show column A B C
df.loc['20200102':'20200104',['A','B','C']]

                   A         B         C
2020-01-02  0.627997  0.684855  0.843735
2020-01-03 -0.471045  0.245182  0.677974
2020-01-04  0.160941 -0.873942  0.227035

In [42]:
#show the data of only date 11
df.loc['20200111',['A','B','C']]

A   -1.195257
B    1.323019
C   -1.043758
Name: 2020-01-11 00:00:00, dtype: float64

In [45]:
#show the data of date 18 into A column
df.at[dates[18],'A']

-0.003148272165281608

In [46]:
#show the data of sr.no 3
df.iloc[3]

A    0.160941
B   -0.873942
C    0.227035
D   -0.730057
Name: 2020-01-04 00:00:00, dtype: float64

In [47]:
#show the data of all rows and column A
df.iloc[:, 0:1]

                   A
2020-01-01  0.581843
2020-01-02  0.627997
2020-01-03 -0.471045
2020-01-04  0.160941
2020-01-05 -0.016271
2020-01-06  1.129727
2020-01-07 -1.390054
2020-01-08 -0.643025
2020-01-09  0.086555
2020-01-10 -0.884924
2020-01-11 -1.195257
2020-01-12  0.363564
2020-01-13 -2.206571
2020-01-14 -0.649266
2020-01-15  1.795348
2020-01-16  0.019570
2020-01-17 -0.468806
2020-01-18  0.067932
2020-01-19 -0.003148
2020-01-20  0.590020

In [51]:
#show the data into columb B jis ma 1.2 sa jetni b zida values hon wo show karwa do
df[df['B'] > 1.2]

                   A         B         C         D
2020-01-05 -0.016271  1.416851 -1.225216  1.235525
2020-01-07 -1.390054  1.852867  2.115862  0.492936
2020-01-11 -1.195257  1.323019 -1.043758  0.582891
2020-01-12  0.363564  2.236230  0.031413  0.557877

In [52]:
#show the data jis ma 0 sa values zida hon
df[df>0]

                   A         B         C         D
2020-01-01  0.581843       NaN       NaN  0.659075
2020-01-02  0.627997  0.684855  0.843735       NaN
2020-01-03       NaN  0.245182  0.677974       NaN
2020-01-04  0.160941       NaN  0.227035       NaN
2020-01-05       NaN  1.416851       NaN  1.235525
2020-01-06  1.129727  0.138274  0.350719  0.854480
2020-01-07       NaN  1.852867  2.115862  0.492936
2020-01-08       NaN       NaN       NaN       NaN
2020-01-09  0.086555  0.877044  0.979717  0.348688
2020-01-10       NaN  1.101970  1.594945       NaN
2020-01-11       NaN  1.323019       NaN  0.582891
2020-01-12  0.363564  2.236230  0.031413  0.557877
2020-01-13       NaN       NaN       NaN       NaN
2020-01-14       NaN       NaN       NaN       NaN
2020-01-15  1.795348  0.823531       NaN       NaN
2020-01-16  0.019570  0.992999       NaN  0.372920
2020-01-17       NaN       NaN  0.685959       NaN
2020-01-18  0.067932       NaN  1.798428       NaN
2020-01-19       NaN  0.710174  0.135168       NaN
2020-01-20  0.590020       NaN  1.629992  0.422968

In [54]:
#copy the data of df into df2
df2=df.copy()

df2['E']=['one','two','three','four','five',
'one','two','three','four','five',
'one','two','three','four','five',
'one','two','three','four','five']

df2

                   A         B         C         D      E
2020-01-01  0.581843 -1.066347 -0.051807  0.659075    one
2020-01-02  0.627997  0.684855  0.843735 -0.465058    two
2020-01-03 -0.471045  0.245182  0.677974 -0.537310  three
2020-01-04  0.160941 -0.873942  0.227035 -0.730057   four
2020-01-05 -0.016271  1.416851 -1.225216  1.235525   five
2020-01-06  1.129727  0.138274  0.350719  0.854480    one
2020-01-07 -1.390054  1.852867  2.115862  0.492936    two
2020-01-08 -0.643025 -1.299720 -1.072287 -1.872444  three
2020-01-09  0.086555  0.877044  0.979717  0.348688   four
2020-01-10 -0.884924  1.101970  1.594945 -0.610093   five
2020-01-11 -1.195257  1.323019 -1.043758  0.582891    one
2020-01-12  0.363564  2.236230  0.031413  0.557877    two
2020-01-13 -2.206571 -1.988132 -0.843255 -1.393584  three
2020-01-14 -0.649266 -1.587244 -0.100837 -0.211016   four
2020-01-15  1.795348  0.823531 -0.849372 -1.883259   five
2020-01-16  0.019570  0.992999 -0.101140  0.372920    one
2020-01-17 -0.468806 -0.998432  0.685959 -0.337875    two
2020-01-18  0.067932 -0.004789  1.798428 -0.615204  three
2020-01-19 -0.003148  0.710174  0.135168 -0.189923   four
2020-01-20  0.590020 -1.115028  1.629992  0.422968   five

In [66]:
#Add a new row in df2 data
df2['new']=[1.1,2.2,3.3,4.4,5.5,1.1,2.2,3.3,4.4,5.5,1.1,2.2,3.3,4.4,5.5,1.1,2.2,3.3,4.4,5.5]
df2

                   A         B  new
2020-01-01  0.581843 -1.066347  1.1
2020-01-02  0.627997  0.684855  2.2
2020-01-03 -0.471045  0.245182  3.3
2020-01-04  0.160941 -0.873942  4.4
2020-01-05 -0.016271  1.416851  5.5
2020-01-06  1.129727  0.138274  1.1
2020-01-07 -1.390054  1.852867  2.2
2020-01-08 -0.643025 -1.299720  3.3
2020-01-09  0.086555  0.877044  4.4
2020-01-10 -0.884924  1.101970  5.5
2020-01-11 -1.195257  1.323019  1.1
2020-01-12  0.363564  2.236230  2.2
2020-01-13 -2.206571 -1.988132  3.3
2020-01-14 -0.649266 -1.587244  4.4
2020-01-15  1.795348  0.823531  5.5
2020-01-16  0.019570  0.992999  1.1
2020-01-17 -0.468806 -0.998432  2.2
2020-01-18  0.067932 -0.004789  3.3
2020-01-19 -0.003148  0.710174  4.4
2020-01-20  0.590020 -1.115028  5.5

- update the data

In [67]:
#update the data of df2 jis ma rows sari rahny do and column bus 1
df2=df2.iloc[:, 0:1]
df2

                   A
2020-01-01  0.581843
2020-01-02  0.627997
2020-01-03 -0.471045
2020-01-04  0.160941
2020-01-05 -0.016271
2020-01-06  1.129727
2020-01-07 -1.390054
2020-01-08 -0.643025
2020-01-09  0.086555
2020-01-10 -0.884924
2020-01-11 -1.195257
2020-01-12  0.363564
2020-01-13 -2.206571
2020-01-14 -0.649266
2020-01-15  1.795348
2020-01-16  0.019570
2020-01-17 -0.468806
2020-01-18  0.067932
2020-01-19 -0.003148
2020-01-20  0.590020

- Assignment by sir ammar k show the mean

In [69]:
#Assignment Done
df["Mean"]= df.mean(axis=1)
df

                   A         B         C         D      Mean
2020-01-01  0.581843 -1.066347 -0.051807  0.659075  0.030691
2020-01-02  0.627997  0.684855  0.843735 -0.465058  0.422882
2020-01-03 -0.471045  0.245182  0.677974 -0.537310 -0.021300
2020-01-04  0.160941 -0.873942  0.227035 -0.730057 -0.304006
2020-01-05 -0.016271  1.416851 -1.225216  1.235525  0.352722
2020-01-06  1.129727  0.138274  0.350719  0.854480  0.618300
2020-01-07 -1.390054  1.852867  2.115862  0.492936  0.767903
2020-01-08 -0.643025 -1.299720 -1.072287 -1.872444 -1.221869
2020-01-09  0.086555  0.877044  0.979717  0.348688  0.573001
2020-01-10 -0.884924  1.101970  1.594945 -0.610093  0.300474
2020-01-11 -1.195257  1.323019 -1.043758  0.582891 -0.083276
2020-01-12  0.363564  2.236230  0.031413  0.557877  0.797271
2020-01-13 -2.206571 -1.988132 -0.843255 -1.393584 -1.607885
2020-01-14 -0.649266 -1.587244 -0.100837 -0.211016 -0.637091
2020-01-15  1.795348  0.823531 -0.849372 -1.883259 -0.028438
2020-01-16  0.019570  0.992999 -0.101140  0.372920  0.321087
2020-01-17 -0.468806 -0.998432  0.685959 -0.337875 -0.279788
2020-01-18  0.067932 -0.004789  1.798428 -0.615204  0.311592
2020-01-19 -0.003148  0.710174  0.135168 -0.189923  0.163068
2020-01-20  0.590020 -1.115028  1.629992  0.422968  0.381988